
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}
